.App {
  padding: 20px;
  position: relative;
}

.main-container {
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #90A4AE;
  padding: 20px;
  background-color: #F5F7F8;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 300;
  line-height: 1em;
  font-size: 2rem;
  color: #455A64;
}

.filter {
  height: 30px;
  text-align: center;
}

.filter label {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #B0BEC5;
  border-radius: 2px;
  line-height: 28px;
  font-size: 0.9rem;
  color: #78909C;
  transition-duration: 0.3s;
  transition-property: border, background-color, color;
}

.filter label:hover {
  transition-duration: 0.1s;
  background-color: #ECEFF1;
}

.filter input[type="radio"]:checked + label {
  border: 1px solid #37474F;
  background-color: #37474F;
  color: #FFFFFF;
  transition-duration: 0.1s;
}

.filter button.clear-all-done {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 24px 24px;
  background-image: url(./icon-delete.svg);
  transition-duration: 0.3s;
  transition-property: opacity;
}

.filter button.clear-all-done:hover {
  opacity: 0.9;
  transition-duration: 0.1s;
}

.todo-list {
  position: absolute;
  top: 110px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
}

.todo-list > ul {
  margin: 0px 20px 10px;
}

.todo-list > ul > li {
  display: flex;
  align-items: center;

}

.todo-list > ul > li button.dot,
.todo-list > ul > li button.delete {
  flex-shrink: 0;
}

.todo-list > ul > li .text-label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-bottom: 1px solid #CFD8DC;
}

.todo-list > ul > li .text-label > input[type="text"] {
  width: 100%;
  color: #202020;
}

.todo-list > ul > li,
.todo-list > ul > li .text-label > input[type="text"] {
  height: 36px;
  font-size: 1.1rem;
}

.todo-list > ul > li:last-child .text-label {
  border-bottom: none;
  margin-left: 36px;
}

.todo-list > ul > li input[type="submit"] {
  display: none;
}

@media all and (min-width: 600px) {
  .main-container {
    width: 70%;
  }

  .filter label {
    padding: 0px 20px;
    font-size: 1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .todo-list > ul > li,
  .todo-list > ul > li .text-label > input[type="text"] {
    height: 50px;
    font-size: 1.2rem;
  }
}

@media all and (min-width: 1000px) {
  .main-container {
    width: 720px;
  }

  .todo-list {
    top: 130px;
  }
  
  h2 {
    font-size: 3rem;
  }
}